<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<p th:text="${sale.getSalesmanName()}"></p>
-------------------------------------------
<p th:text="${product.prodName}"></p>
<p th:text="${product.price}"></p>
<p th:text="${product.description}"></p>
<p th:text="${product.dateOfManf}"></p>
</body>
</html>